#!/bin/bash

# 1. Install Tmux Plugin Manager (TPM) if it does not exist
if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    echo "🚀 Instalando Tmux Plugin Manager..."
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# 2. Install Tmux plugins in the background
# Esto evita que tengas que dar a 'Prefix + I' manualmente
echo "📦 Installing Tmux Plugins..."
~/.tmux/plugins/tpm/bin/install_plugins

# 3. Prepare LazyVim directories
mkdir -p ~/.cache/nvim
mkdir -p ~/.local/share/nvim

echo "alias n='nvim'" >> "$HOME/.bashrc"
echo "alias lg='lazygit'" >> "$HOME/.bashrc"
echo "alias ld='lazydocker'" >> "$HOME/.bashrc"
echo "alias cm='chezmoi'" >> "$HOME/.bashrc"

echo "✅ Entorno configurado correctamente."
